.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    background-color: transparent;
  }
  
  .background-box {
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
  }